#sidenav {
  width: 30%;
  background-color: #a2a0af;
  position: absolute;
  z-index: 1;
}

#menu {
  width: 10%;
  position: absolute;
  left: 0;
  top: -1em;
  color: rgb(197, 194, 191);

}

#thanks {
  color: rgb(165, 140, 77);
  text-align: center;
}

.MuiIconButton-root-78 {
  padding: 0
}

body {
  background-color: #495057;
}

#btn {
  background-color: antiquewhite;
  color: #039be5;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tile {
  width: 100%;
}

#avatar {
  width: 300px;
  height: 300px;
  border: solid 2px antiquewhite;
  margin: auto;
}

#bt {
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  top: 9%;
}

#icon {
  font-size: 4em;
}

/* .gridHead {
  background-color: white;
  height: auto;
} */

/* nav,
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons,
nav .button-collapse i {
  height: var(--height-nav);
  line-height: var(--height-nav);
}

nav #code-desktop li:last-child {
  margin-right: 1em;
}

nav .brand-logo {
  font-family: var(--font-highlight);
  font-size: 1.05em;
  height: 1.4em;
  letter-spacing: 0.04em;
  top: 0.15em;
  margin-left: 1em;
}


nav #code-desktop li:last-child {
  margin-right: 1em;
} */

.imageHome {
  background-color: #495057;
  /* background-image: url("tobago.jpg"); */
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: stretch;
}

#code-footer-social li {
  font-size: 1.6em;
  float: left;
  padding-right: 0.9em;
}

footer {

  position: fixed;
}

footer a:hover {
  text-decoration: underline;
}

#code-footer-social li {
  font-size: 1.6em;
  float: left;
  padding-right: 0.9em;
}

.footer-copyright {
  font-size: 0.75em;
}

img {
  width: 200px;
  height: 250px;

}

#logo {
  font-weight: 600;
  width: 100%;
  padding-top: 1em;
  text-align: center;
  color: rgb(197, 194, 191);
}

#bar {
  height: 8%;
}

.seperator {
  height: 6em;
}

.card {
  border-radius: 8px;
}

.card-content {
  border: 5px solid antiquewhite;
  /* background-color: rgba(255, 0, 0, 0.1); */
  /* opacity: 1; */
  color: rgb(49, 49, 177);
  font-size: 24px;

}

.back {
  background-color: rgba(0, 0, 0, .2);
  /* opacity: .5; */
}

#panda {
  background-color: rgb(247, 247, 247);
  color: rgb(17, 17, 17)rgb(158, 156, 156);
  border: 3px solid rgb(10, 10, 10);
}

#arsenal {
  background-color: rgb(238, 13, 13);
  color: rgb(236, 230, 230);
  border: 3px solid goldenrod;
}

#hocro {
  background-color: rgb(36, 56, 44);
  color: rgb(201, 199, 99);
  border: 3px solid rgb(241, 241, 240);
}

#default {
  background: linear-gradient(45deg, #12155f 30%, #280ad1 90%);
  color: rgb(238, 235, 235);
  border: 3px solid rgb(54, 153, 235);
}


/* .card {
  border-radius: 8px;
  width: 250px;
  height: 100%;
} */